<!-- <app-untyped-example></app-untyped-example>

<app-typed-form-example></app-typed-form-example> -->
<form [formGroup]="mainForm">
  <div>
    <input type="checkbox" formControlName="isSalesConnectPartner" />
    <label for="isMain">Sales Connect Partner</label>
  </div>
  <div>
    <input type="checkbox" formControlName="isSalesBusinessPartner" />
    <label for="isFee">Sales Business Partner</label>
  </div>
  <div>
    <input type="checkbox" formControlName="isSupplyPartner" />
    <label for="isFee">Supply Partner</label>
  </div>
</form>
<hr />
<form [formGroup]="existingDataForm">
  <div>
    <input type="checkbox" formControlName="isMainExists" />
    <label for="isMain">Is Main Exists?</label>
  </div>
  <div>
    <input type="checkbox" formControlName="isFeeExists" />
    <label for="isFee">Is Fee Exists?</label>
  </div>
  <div>
    <input type="checkbox" formControlName="isBusinessExists" />
    <label for="isFee">Is Business Exists?</label>
  </div>
</form>
<hr />
<app-wallet-creation-form
  [isMainExists]="existingData.isMainExists ?? false"
  [isSalesConnectPartner]="mainForm.value.isSalesConnectPartner ?? false"
  [isSalesBusinessPartner]="mainForm.value.isSalesBusinessPartner ?? false"
  [isSupplyPartner]="mainForm.value.isSupplyPartner ?? false"
></app-wallet-creation-form>
